rect {
    stroke: Black;
	stroke-width:2;
}
rect.focus {
    fill: white;
}
rect.profile {
    fill: LightBlue;
}
rect.extension {
    fill: LightSalmon;
}
rect.element {
    fill: LightYellow;
}
rect.fhir {
    fill: LightCoral;
}
rect.value {
    fill: cornsilk;
}
rect.valueSet {
    fill: lightgreen;
}
