polygon.connector {
    stroke: Black;
	stroke-width:0;
    fill: black;
}
circle.connector {
    stroke: Black;
	stroke-width:0;
    fill: black;
}
line.connector {
    stroke: Black;
	stroke-width:1.875;
}

rect.focus {
    fill: white;
    stroke: Black;
}


rect.profile {
    fill: LightBlue;
    stroke: Black;
}
rect.profileCmp {
    fill: LightBlue;
    stroke: Black;
}
rect.profileEnh {
    fill: LightBlue;
    stroke: Black;
}
rect.profileBas {
    fill: LightBlue;
    stroke: Black;
}



rect.extension {
    fill: LightSalmon;
    stroke: Black;
}
rect.extensionCmp {
    fill: LightSalmon;
    stroke: Black;
}
rect.extensionEnh {
    fill: LightSalmon;
    stroke: Black;
}
rect.extensionBas {
    fill: LightSalmon;
    stroke: Black;
}



rect.element {
    fill: LightYellow;
    stroke: Black;
}
rect.elementCmp {
    fill: LightYellow;
    stroke: Black;
}
rect.elementEnh {
    fill: LightYellow;
    stroke: Black;
}
rect.elementBas {
    fill: LightYellow;
    stroke: Black;
}



rect.fhir {
    fill: LightCoral;
    stroke: Black;
}
rect.fhirCmp {
    fill: LightCoral;
    stroke: Black;
}
rect.fhirEnh {
    fill: LightCoral;
    stroke: Black;
}
rect.fhirBas {
    fill: LightCoral;
    stroke: Black;
}

rect.value {
    fill: cornsilk;
    stroke: Black;
}

rect.valueSet {
    fill: lightgreen;
    stroke: Black;
}