rect.focus {
    fill: white;
    stroke: Black;
}
rect.profile {
    fill: LightBlue;
    stroke: Black;
}
rect.extension {
    fill: LightSalmon;
    stroke: Black;
}
rect.element {
    fill: LightYellow;
    stroke: Black;
}
rect.fhir {
    fill: LightCoral;
    stroke: Black;
}

rect.value {
    fill: cornsilk;
    stroke: Black;
}

rect.valueSet {
    fill: lightgreen;
    stroke: Black;
}